.form-control{
	padding: 6px 3px;
}
.custom-control{
    width: 72%;
    height: 25px;
    padding: 6px 3px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;	
}
.custom-content{
    padding-left: 0!important;
    padding-right: 0!important;
}
.col-md-1-5{
	width:12%!important;
}
.margin-bottom-10px{
    margin-bottom: 10px;
}
.custom.table>tbody>tr>td, .custom.table>tbody>tr>th, .custom.table>tfoot>tr>td, .custom.table>tfoot>tr>th, .custom.table>thead>tr>td, .custom.table>thead>tr>th{
    padding: 0!important;
}
.custom.table-bordered>thead>tr>th{
    font-size: 11px;
    font-weight: 600;
    max-width: 25px;
}
/*table#table-total>thead>tr:first >td,table#table-total>thead>tr:first >th{
    border-top: solid 1px #ddd;
}
table#table-total>thead>tr>td, table#table-total>thead>tr>th{
    border-color: #ddd;
    border-bottom: solid 1px #ddd;
}*/
table#table-total>thead>tr>th{
    font-size: 13px;
    font-weight: normal;
}
.form-control{
    max-width: 100%;
}
.width-50px{
    width: 50px !important;
}
.width-100px{
    width:100px !important;
}
table.custom > tbody > tr > td > .form-control {
    height: 25px;
}
div.custom.thumb > img {
    max-width: 238px;
    width: 100%;
}
td > select.form-control{
    padding: 1px 3px;
}
.custom.tab-content{
    padding-right: 33px;
}
tr.thead > th {
    font-size: 14px !important;
}