.form-group {
    margin-bottom: 2px !important;
}

.nav-tabs-custom > .nav>li>a {
	padding: 2px 10px !important;
}

fieldset.scheduler-border {
    /* border: 1px groove #ddd !important; */
	    border: 1px solid #ccc!important;
    /* padding: 0 1.4em 1.4em 1.4em !important; */
	padding : 4px 10px;
    /* margin: 0 0 1.5em 0 !important; */
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
legend {
	width: auto;
	border-bottom: none;
	margin-bottom: 0;
	font-size: 15px !important;
}
fieldset {
	margin: 0 !important;
}

.dispaly-flex {
	display: inline-flex;
}

.input-sm {
	height: 23px !important;
	padding: 2px 10px !important;
}

.button-width {
	width: 120px;
	margin-right : 14px;
}
.content-header {
	padding: 0 !important;
}

.box {
	margin-bottom: 10px !important;
}
.navbar-nav{
	/*margin: 11.5px -2px !important;*/
}

/*---- Custom By Dev -----*/
.custom-table>thead>tr>th, .custom-table>tbody>tr>th, .custom-table>tfoot>tr>th, .custom-table>thead>tr>td, .custom-table>tbody>tr>td, .custom-table>tfoot>tr>td{
	border: 1px solid #060606 !important;
	padding:2px;
}
/*---- Custom By Dev -----*/
.custom.content-header{
	padding: 10px !important;
}

/*---------- Auto Complete Css -----------*/
.ui-autocomplete {
	position: absolute;
	z-index: 1000;
	cursor: default;
	padding: 0;
	margin-top: 2px;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
	padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
	background-color: #DDD;
}
.ui-autocomplete > li:HOVER {
	cursor: pointer;
}
.ui-helper-hidden-accessible {
	display: none;
}
/*---------- Auto Complete Css -----------*/

.search-leads-form .form-group {
	margin-bottom:15px!important;
}
.item-header {
	background: #e0e0e0;
}
.item-header-lable, .item-header-price {
	display: inline-block;
}
.item-header-price {
	float: right;
}
.section-item-list {
	padding: 5px 90px 0px 10px;
}
.item-lable, .item-price {
	display: inline-block;
}
.item-price {
	float: right;
}
.dispaly-inline-block{
	display: inline-block;
}
.text-semi-bold{
	font-weight: 700;
}
.padding-left-10-px{
	padding-left: 10px;
}
.purchase-acc-section {
	padding-right: 90px;
}
.purchase-acc-section-right {
	border-top: solid 1px;
	float: right;
	width: 100px;
	border-bottom: solid 1px;
}
.profit-loss-left > .profit-loss-header{
	background: #008d4c;
	color: #ffffff;
}
.profit-loss-right > .profit-loss-header{
	background: #d33724;
	color: #ffffff;
}
.padding-top-bottom-10-px {
	padding: 10px 0;
}
.profit-loss-header {
	font-weight: 600;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
}
.btn-custom{
	width: 115px;
	font-weight: 600;
	border-radius: 5px !important;
}
.bg-sky-blue-gradient{
	background-color: #b9fcff;
	background-image: -webkit-linear-gradient(top,#cef8ff,#7fe0f8);
	border: 1px solid #30aac7 !important;
}
.bg-sky-blue{
	background-color: #daeef3;
}
table.table-custom{
	border: 1px solid #000000;
}
.table-custom>thead>tr>th, .table-custom>tbody>tr>th, .table-custom>tfoot>tr>th, .table-custom>thead>tr>td, .table-custom>tbody>tr>td, .table-custom>tfoot>tr>td{
	border: 1px solid #000000;
}
.table-custom>tbody>tr>td, .table-custom>tbody>tr>th, .table-custom>tfoot>tr>td, .table-custom>tfoot>tr>th, .table-custom>thead>tr>td, .table-custom>thead>tr>th{
	padding: 2px;
}
.table-custom>thead>tr>th{
	border-bottom: 1px solid #000000 !important;
	font-weight: 400;
	color: #4a1c73;
}
.bg-low-green{
	background-color: #eaf1dd;
}
.border-top-bottom{
	border-top: solid 1px ;
	border-bottom: solid 1px ;
}
.border{
	border: solid 1px;
}
input.custom-table-input {
	width: 100%;
}